{% extends "base.html" %}

{% block body %}
{% load static %}


<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white light:bg-gray-900 antialiased">
    <br>
    <br>

    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue light:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 light:text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src="{% static 'favicon.ico' %}" alt="aqxplay">
                        <div>
                            <a href="/about" rel="author" class="text-xl font-bold text-gray-900 light:text-white">aqxplay</a>
                            <p class="text-base text-gray-500 light:text-gray-400">Backend Developer, Graphic Designer</p>
                            <p class="text-base text-gray-500 light:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">{{post.date}}</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl light:text-white">{{post.title}}</h1>
            </header>
            <figure>
                <img src="{{post.image.url}}" alt="" style="width: 100%; height: auto;">
            </figure>   
            <br>         
            <article>{{post.content|safe}}</article>
            <br>
            <section class="not-format">
                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-lg lg:text-2xl font-bold text-gray-900 light:text-white">Post Comments</h2>
                </div>

                {% comment %} comments post box {% endcomment %}
                {% if user.is_authenticated %}
                <form class="mb-6" method="POST" action="">
                    {% csrf_token %}
                    <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 light:bg-gray-800 light:border-gray-700">
                        <label for="comment" class="sr-only">Your comment</label>
                        <textarea name="body" id="comment" rows="6"
                            class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 light:text-white light:placeholder-gray-400 light:bg-gray-800"
                            placeholder="Write a comment..." required></textarea>
                    </div>
                    <button type="submit"
                        class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 light:focus:ring-primary-900 hover:bg-primary-800">
                        Post comment
                    </button>
                </form>
                {% else %}
                <p class="mt-6">Please log in to leave a comment!</p>
                

                
                {% endif %}
                <br>
                {% comment %} comments post box {% endcomment %}

                
                
                {% if not comments %}
                <h1>No Comments Yet!<h1>
                    {% else %}
                {% for comment in comments %}
                <article class="p-6 mb-6 text-base bg-white border-t border-gray-200 light:border-gray-700 light:bg-gray-900">
                    <footer class="flex justify-between items-center mb-2">
                        <div class="flex items-center">
                            <p class="inline-flex items-center mr-3 font-semibold text-sm text-gray-900 light:text-white">
                                {% if comment.name.userprofile.avatar %}
                                <img
                                    class="mr-2 w-6 h-6 rounded-full"
                                    
                                    src="{{comment.name.userprofile.avatar.url}}"
                                    alt="{{comment.name.username}}">{{comment.name.username}}</p>
                                    {% endif %}
                            <p class="text-sm text-gray-600 light:text-gray-400"><time pubdate datetime="2022-03-12"
                                    title="March 12th, 2022">{{comment.date}}</time></p>
                        </div>
                       
                        <!-- Dropdown menu -->
                        
                    </footer>
                    <p>{{comment.body}}</p>
                    
                </article>
                {% endfor %}
                {% endif %}
                
            </section>
        </article>
    </div>
  </main>
  
  <aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 light:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 light:text-white">Related articles</h2>

        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            {% for article in recommended_posts %}
        
            <article class="max-w-xs">
                <a href="#">
                    <img src="{{article.image.url}}" class="mb-5 rounded-lg h-44 w-72"  alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 light:text-white">
                    <a href="{% url 'article' article.id %}">{{ article.title }}</a>
                </h2>
                <p class="mb-4 text-gray-500 light:text-gray-400">{{ article.display_text }}</p>
                <a href="{% url 'article' article.id %}" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 light:text-primary-500 hover:no-underline">
                    Read Now
                </a>
            </article>
            {% endfor %}


            
           
            
        </div>
    </div>
  </aside>
  
  
  
  

<script>
    tailwind.config = {
        lightMode: 'class',
        theme: {
          extend: {
            colors: {
              primary: {"50":"#eff6ff","100":"#dbeafe","200":"#bfdbfe","300":"#93c5fd","400":"#60a5fa","500":"#3b82f6","600":"#2563eb","700":"#1d4ed8","800":"#1e40af","900":"#1e3a8a","950":"#172554"}
            }
          },
          fontFamily: {
            'body': [
          'Inter', 
          'ui-sans-serif', 
          'system-ui', 
          '-apple-system', 
          'system-ui', 
          'Segoe UI', 
          'Roboto', 
          'Helvetica Neue', 
          'Arial', 
          'Noto Sans', 
          'sans-serif', 
          'Apple Color Emoji', 
          'Segoe UI Emoji', 
          'Segoe UI Symbol', 
          'Noto Color Emoji'
        ],
            'sans': [
          'Inter', 
          'ui-sans-serif', 
          'system-ui', 
          '-apple-system', 
          'system-ui', 
          'Segoe UI', 
          'Roboto', 
          'Helvetica Neue', 
          'Arial', 
          'Noto Sans', 
          'sans-serif', 
          'Apple Color Emoji', 
          'Segoe UI Emoji', 
          'Segoe UI Symbol', 
          'Noto Color Emoji'
        ]
          }
        }
      }
    function toggleReply(commentId) {
        const replySection = document.getElementById(`replySection${commentId}`);
        if (replySection.style.display === 'none' || replySection.style.display === '') {
            replySection.style.display = 'block';
        } else {
            replySection.style.display = 'none';
        }
    }

</script>

{% endblock body %}
